body {
  margin: 0;
  font-size: 16px;
  background-color: hsl(330, 100%, 98%);
}

div {
  max-width: 420px;
  border: 1px solid transparent;
  margin: 3em auto;
  border-radius: 5px;
  background-color: hsl(0, 0%, 100%);
  font-family: "Outfit";
}

h1 {
  padding-left: 0.8em;
  margin-bottom: 0;
  font-family: "young-serif";
  font-size: 20px;
  color: hsl(24, 5%, 18%);
}

h1 + p,
h2 + p {
  color: hsl(30, 10%, 34%);
  white-space: pre;
  margin-top: 0;
  font-size: 10px;
}

h2 {
  color: hsl(14, 45%, 36%);
  margin-left: 1em;
  margin-bottom: 0;
  font-weight: 600;
}

h2 + p {
  font-size: 10px;
}

h2 + ul li {
  padding: 0 0 0.5em 0.9em;
  color: hsl(30, 10%, 34%);
}

h2 + ul li::marker {
  color: hsl(14, 45%, 36%);
  font-size: 0.8em;
}

h2 + ol li {
  padding: 0 1em 0.5em 0.9em;
  color: hsl(30, 10%, 34%);
}

h2 + ol li span {
  font-weight: 700;
  color: hsl(24, 5%, 18%);
}

h2 + ol li::marker {
  color: hsl(14, 45%, 36%);
  font-size: 0.8em;
  font-weight: bold;
}

img {
  display: block;
  width: calc(100% - 2em);
  height: auto;
  object-fit: cover;
  margin: 1em 1em 0 1em;
  border-radius: 5px;
}

table {
  width: 366px;
  margin-inline: 1em;
  margin-bottom: 1em;
  border: transparent;
  border-collapse: collapse;
}

td {
  border-bottom: 1px solid hsl(30, 54%, 90%);
}

.attribution {
  text-align: center;
  background-color: transparent;
}

.preparation-time {
  margin: 0.9em 1em 0 1em;
  width: 366px;
  background-color: hsl(330, 100%, 98%);
}

.preparation-time h4 {
  padding-left: 1em;
  font-weight: 600;
  color: hsl(332, 51%, 32%);
}

.preparation-time ul li {
  padding: 0 0 0.5em 0.5em;
  color: hsl(30, 10%, 34%);
  font-weight: 400;
}

.preparation-time ul li::marker {
  color: hsl(14, 45%, 36%);
  font-size: 0.8em;
}

.preparation-time ul span {
  font-weight: 700;
  color: hsl(24, 5%, 18%);
}

.title {
  color: hsl(30, 10%, 34%);
  padding: 0.5em 0 0.8em 0.7em;
  font-weight: 400;
}

.measure {
  color: hsl(14, 45%, 36%);
  font-weight: 700;
}

@media screen and (max-width: 600px) {
  div {
    margin: 0 auto;
  }

  h1 + p,
  h2 + p {
    font-size: 16px;
    white-space: wrap;
    margin: 2rem 0.9rem;
  }

  h2 + p {
    margin: 1rem 1.5rem;
  }

  .preparation-time {
    width: 350px;
  }
}
